<div id="<%= dom_id comment %>">
<p>
	<b>Выполнил:</b>
	<%= comment.username %>
	<%= comment.user.email %>
</p>

<p>
	<b>Ответ:</b>
	<%= comment.body %>
</p>

<% if can? :manage, comment %>
	 <%= link_to "Edit this comment", edit_admin_answer_comment_path(answer, comment) %>
	 <%= button_to "Destroy this comment", [:admin, answer, comment], method: :delete %>
 <% end %>
</div>
