<%= form_with(model: @profile) do |form| %>
 <% if @profile.errors.any? %>
   <div style="color: red">
     <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this comment from being saved:</h2>

     <ul>
       <% @profile.errors.each do |error| %>
         <li><%= error.full_message %></li>
       <% end %>
     </ul>
   </div>
 <% end %>

 <div class="field">
   <%= form.label :username %><br />
   <%= form.text_field :username %>
 </div>

 <div class="field">
   <%= form.label :avatar_image %><br />
   <%= form.file_field :avatar_image %>
 </div>

 <div class="actions">
   <%= form.submit %>
 </div>
<% end %>
