<body id="registration">
<div class="O_DeviseForm">
  <div class="M_DeviseForm">
    <div class="A_Logo"></div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="W_DeviseFields">
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.text_field :name, autofocus: true, placeholder: "Имя", :class => "A_DeviseField name" %>
        <%= f.text_field :nickname, autofocus: true, placeholder: "Ник", :class => "A_DeviseField nickname" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Почта", :class => "A_DeviseField email" %>
        <%= f.password_field :password, autocomplete: "new-password",  placeholder: "Пароль", :class => "A_DeviseField password" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password",  placeholder: "Повторить пароль", :class => "A_DeviseField password" %>
      </div>
      <div class="W_DeviseButtons">
      <%= f.submit "далее",:class => "M_Button primary"%>
      <%= render "devise/shared/links" %>
    </div>
    <% end %>
   
</div>
</div>
</body>