<div class="W_Comment">
<div class="A_Comment" id="<%= dom_id comment %>">
		 <%= image_tag comment.user.avatar_image.small.url, class: "Q_Ava" if comment.user.avatar_image.small.url %>

		<p>
			<%= comment.body %>
		</p>

		<div class="A_CommentMoreButton"></div>
		 <div class="commentReplies">
			 <% comment.replies.each do |reply| %>
		 	<%#= render reply, partial: "comments/comment", comment: reply, answer: answer %>
			<% end %>
		 </div>
</div>
 <div class="M_CommentOptions hidden">
			<% if can? :manage, comment %>
			 <%= link_to "Редактировать", edit_answer_comment_path(answer, comment), class: "A_Option" %>
			 <%= button_to "Удалить", [answer, comment], method: :delete, class: "A_Option"  %>
			<% else %>
				<%= link_to "Пожаловаться", support_path(), class:"A_Option" %>
			<% end %>
  		</div>
</div>
