<div id="<%= dom_id comment %>">
<p>
	<b>Выполнил:</b>
	<%= comment.username %>
	<%= comment.user.email %>
</p>

<p>
	<b>Ответ:</b>
	<%= comment.body %>
</p>

<p>
	<%= button_to 'Destroy Comment', [comment.answer, comment], :confirm => 'Are you sure?', :method => :delete %>
</p>
</div>
