<%= turbo_frame_tag dom_id(comment) do %>
  <%= form_with url: url, data: { controller: :form, action: "turbo:submit-end->form#clear" } do |form| %>
    <% if comment.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

        <ul>
          <% comment.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="M_CommentForm">
    <div class="A_CommentForm">
    <%= image_tag current_user.avatar_image.small.url, class: "Q_Ava" if current_user.avatar_image.small.url %>
      <%= form.text_area :body, placeholder: "Оставить комментарий",  class: "A_CommentField" %>
    </div>
      <%= form.submit "", :class => "A_Send" %>
    </div>
  <% end %>
<% end %>