<div class="O_Task">
  <%= image_tag task.first_answer_image.small.url, class: "Q_TaskImage small" if task.first_answer_image.small.url %>

  <%= render 'task_cards/task_circles', task: task %>

  <div class="W_BottomPart">
    <%= render 'task_cards/task_title', task: task %>
    <%= link_to "загрузить находку", task_answers_path(task), class: "M_Button primary" %>
    <%= link_to "загрузить", task_answers_path(task), class: "M_Button primary" %>
  </div>
</div>
