<div class="O_AnswerReelsCard">
  <%= image_tag answer.answer_image.large.url, class: "Q_AnswerImage large" if answer.answer_image.large.url %>

  <div class="C_TaskCircles">
    <div class="A_Ava medium">
      <%= image_tag answer.user.avatar_image.medium.url, class: "Q_Ava" if answer.user.avatar_image.medium.url %>
    </div>
    <div class="A_TaskType">
      <%= @task.type[0]%>
    </div>
  </div>

  <div class="W_RightPart">
    <div class="A_ButtonsTape">
      <div class="Q_Icon like active"></div>
      <p class="Q_Count">24</p>
    </div>
    <div class="A_ButtonsTape">
      <div class="Q_Icon comment"></div>
      <p class="Q_Count"><%=answer.comments.count%></p>
    </div>
    <div class="A_ButtonsTape">
      <div class="Q_Icon share"></div>
    </div>
    <div class="A_ButtonMore"></div>
  </div>

  <div class="O_Comments"> 
     <div class="Q_Rect first"></div>
     <div class="Q_Rect second"></div>
     <div class="M_Comments"> 
      <div class="W_TopLine">
        <div class="A_CommentsTitle">
          <h2>комментарии</h2>
          <div class="Q_Circle"> 
            <%=answer.comments.count%>
          </div>
        </div>
        <div class="A_Close"></div>
      </div>
      <div class="W_Comments">
      <div class="C_Comments"> 
        <%=render answer.comments%>
      </div>
      <% if user_signed_in? %>
        <%= render "comments/form", task: @task, answer: answer, comment: Comment.new %>
      <% end %>
     </div>
     </div>
  </div>
</div>