<div id="<%= dom_id task %>">
  <div class="taskCard">
    <h3>
    <%= task.name %>
    </h3>

    <%= image_tag task.first_answer_image.url, class: "firstImg" if task.first_answer_image.url %>

    <div class="ref-container">
      <%= image_tag task.ref_image.url, class: "refImg" if task.ref_image.url %>
      <p>
        <%= task.description %>
      </p>
    </div>

  </div>
</div>
