<section class="container">
<p style="color: green"><%= notice %></p>

<%= render @task %>
<%= @task.type %>

<div class="editButtons">
  <%= link_to "Назад к заданиям", admin_tasks_path, class:"button" %>
  <%= link_to "Редактировать", edit_admin_tasks_path([:admin, @task]), class:"button" %>
  <%= button_to "Удалить задание", admin_task_path(@task), method: :delete, class:"button" %>
</div>

 <div class="answerContainer">
   <div class="answerCreate">
     <h3>Ответы</h3>
     <%= link_to "Создать ответ", new_admin_task_answer_path(@task), class: "button"%>
   </div>

   <%= render @task.answers, task: @task %>
   <%#= render @answer.comments, answer: @answer %>
 </div>
</section>
