<div class="Q_Grid">
  <% if user_signed_in? %>
    <%= render 'allTasksBanners/profile_state'%>
  <% else %>
    <%= render 'allTasksBanners/welcome_state'%>
<% end %>

<section class="O_TasksOfDay">
  <h2 class="A_Title">идет голосование</h2>
  <div class="C_TasksOfDay">
  <% @vote_tasks.each do |task| %>
    <%= render 'task_cards/task_card', task: task%>
  <% end %>
  </div>
</section>

<%= render 'SuggestionForm/suggestions', task: @random_task %>

<section class="O_AllActiveTasks">
  <div class="M_TitleWithFilters">
    <div class="W_TitleCounter">
      <div class="A_Title">все задания</div>
      <div class="A_MoreCircle">
        <p>+<%=@active_tasks.length %></p>
      </div>
    </div>
    <div class="W_Fiters">
      <%= render 'utilities_partials/filters_with_types' %>
    </div>
  </div>
  <div class="W_TaskCards">
  <% @active_tasks.each do |task| %>
    <%= render 'task_cards/card_new_tasks', task: task%>
  <% end %>
</div>
</section>
</div>
