<div id="<%= dom_id answer %>">
  <div class="answerCard">
    <%= image_tag answer.answer_image.url,  class: "answerImg" if answer.answer_image.url %>

    <div class="answerBody">
      <p>  <%= answer.user.email %> </p>
    </div>

    <% if can? :manage, answer %>
      <div class="editButtons">
        <%= link_to "Редактировать", edit_task_answer_path(answer.task, answer), class:"button" %>
        <%= button_to "Удалить", task_answer_path(answer.task, answer), method: :delete, class:"button" %>
      </div>
    <% end %>
    <%= @task%>
    <%= @answer%>
    <div class="commentsContainer">
      <%#= render 'comments/form', task: @task, answer: answer, comment: Comment.new %>
      <%= render answer.comments, answer: answer, task: @task %>
    </div>
  </div>
</div>
