<body id="reels">
<div class="Q_Grid">

<div class="A_TopRow"> 
  <%= link_to '', :back, class: "A_ArrowBack" %>
  <div class="W_Filters">
    <p class="active">новые</p> 
    <p class="inactive">популярные</p> 
  </div>
</div>

<div class="M_TaskHintInReel">
  <%= render 'task_cards/task_card', task: @task%>
  <div class="A_TimeLeft"><%= distance_of_time_in_words_to_now(@task.created_at + 3.days) %></div>
  <% if can? :create, Answer %>
    <%= link_to "загрузить находку", new_task_answer_path(@task.id), class: "M_Button m primary", task: @task %>
  <% end %>
</div>

<div id="answers" class="S_AnswersReels">
  <%#= turbo_frame_tag 'answers' do %>  
    <%#= render partial: 'answers_page', locals: { answers: @answers } %>
  <%# end %>
  <%= render partial: 'answers_page', answers: @answers %>
  <%#= turbo_frame_tag 'answers_pagination' do %>
    <%#= render partial: 'answers_next_page_button', locals: { answers: @answers } %>
  <%# end %>
</div>
</div>
</body>
