<div class="answerCreate">
  <h1>Answers</h1>
  <% if can? :create, Answer %>
    <%= link_to "New answer", new_task_answer_path, class: "button" %>
  <% end %>
</div>

<h1><%= @answers.count%></h1>

<div id="answers">
  <%= turbo_frame_tag 'answers' do %>  
    <%= render partial: 'answers_page', locals: { answers: @answers } %>
  <% end %>
  <%= turbo_frame_tag 'answers_pagination' do %>
    <%= render partial: 'answers_next_page_button', locals: { answers: @answers } %>
  <% end %>
</div>