<p style="color: green"><%= notice %></p>

<%= render @answer %>

<h3>Comments</h3>
<br>
<h2><%= url%></h2>
<br>
<%= render "comments/form", task: @task, answer: @answer, comment: Comment.new, url: url %>
<%= render @answer.comments, answer: @answers %>

 <%#= link_to "New comment", new_task_answer_comment_path(@task, @answer) %>

<br>
<br>

  <% if can? :manage, @answer %>
      <div class="editButtons">
        <%= link_to "Редактировать", edit_task_answer_path(@answer.task, @answer), class:"button" %>
        <%= link_to "Back to answers", task_answers_path %>
        <%= button_to "Удалить", task_answer_path(@answer.task, @answer), method: :delete, class:"button" %>
      </div>
  <% end %>
