<div id="<%= dom_id answer %>">
  <div class="answerCard">
    <%= answer.user.email %>
    <%#= image_tag answer.avatar.url, width: 50 %>

    <p>
     <strong><%= answer.name %></strong>
    </p>

    <%= image_tag answer.answer_image.url, width: 400 if answer.answer_image.url %>

    <p>
      <%= answer.description %>
    </p>

    <% if can? :manage, answer %>
      <div>
        <%= link_to "Edit this answer", edit_admin_answer_path(answer) %>
        <%= button_to "Destroy this answer", [:admin, answer], method: :delete %>
      </div>
    <% end %>
    
  </div>
</div>

<%= render 'admin/comments/form', task: @task, answer: answer, comment: Comment.new %>
<%= render answer.comments, answer: answer, task: @task %>
