 <%#= form_with(model: [:admin, task, answer]) do |form| %>

 <%= form_with(model: @answer, url: admin_task_answers_path(@task)) do |form| %>
  <% if answer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% answer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :answer_image %><br />
    <%= form.file_field :answer_image %>
  </div>

	<div class="actions">
		<%= form.submit %>
	</div>
<% end %>
