<div class="O_DeviseForm">
  <div class="M_DeviseForm">
    <div class="A_Logo"></div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="W_DeviseFields">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Почта", :class => "A_DeviseField email" %>
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Пароль", :class => "A_DeviseField password" %>
      </div>

    <div class="W_DeviseButtons">
      <%= f.submit "далее",:class => "M_Button primary"%>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
  </div>
</div>