<nav>
  <div class="S_Menu">
    <div class="O_Menu">
      <div class="M_NavBar">
          <div class="W_NavBarItems">
              <%= link_to "", welcome_path, class:"A_MenuLogo" %>
              <% if user_signed_in? && current_user.admin == true %>
              <%= link_to "все задания", allTasks_path, class: "A_MenuLink" %>
              <%= link_to "банк рефов", howToPlay_path, class: "A_MenuLink" %>
              <%= link_to "жалобы", profile_path(current_user.id), class: "A_MenuLink" %>
              <% else %>
              <%= link_to "все задания", allTasks_path, class: "A_MenuLink" %>
              <%= link_to "в поиске", searchTasks_path, class: "A_MenuLink" %>
              <%= link_to "как играть", howToPlay_path, class: "A_MenuLink" %>
              <% end %>
          </div>
          <% if user_signed_in? %>
            <%= link_to "", destroy_user_session_path, class:"A_Log out" %>
          <% else %>
            <%= link_to "", new_user_session_path, class:"A_Log in" %>
          <% end %>
      </div>
        <% if user_signed_in? %>
      <a class="M_MenuProfile" href="<%=profile_path(current_user.id)%>">
          <p>@<%= current_user.email.tr('_@email.com', '')%></p>
          <div class="A_Ava medium">
            <%= image_tag current_user.avatar_image.medium.url, class: "Q_Ava" if current_user.avatar_image.medium.url %>
          </div>
        <% end %>
      </a>
    </div>
  </div>
</nav>
