<%= form_with(model: support, url: support_request_support_path) do |form| %>
  <% if support.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(support.errors.count, "error") %> prohibited this support request from being saved:</h2>

      <ul>
        <% support.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="O_SupportForm">
  <div class="M_SupportForm">
    <h1>Форма поддержки</h1>
     <h1><%= params[:a_id]%></h1>
    <div class="W_FormFields">
      <div class="W_FormField">
        <h3>Причина обращения<span>*</span></h3>
        <%= form.select :problem, ["Неприемлемый контент", "Спам", "Оскорбления", "Другое"], :class => "A_FormField select"%>
      </div>
      <div class="W_FormField">
        <h3>Опишите сложившуюся ситуацию</h3>
        <%= form.text_area :comment, placeholder: "Напишите, что произошло", :class => "A_FormField" %>
      </div>
      <div class="W_FormField">
        <h3>Ответ придет на вашу почту</h3>
        <div class="A_FormField email"><%= current_user.email %></div>
      </div>
     </div>

     <%= form.hidden_field :answer_id,  value: params[:a_id] %>
     <%= form.submit "отправить", :class => "M_Button primary" %>
  </div>
</div>
<% end %>
